{% extends 'core/base.html' %}
{% block title %}
Change Password Form
{% endblock %}
{% block body %}
<!-- component -->
<div>
  {% include 'core/messages.html' %}
    <div class="relative min-h-screen  grid bg-black ">
        <div class="flex items-center justify-center w-full w-auto h-full w-1/2 p-8  md:p-10 lg:p-14 sm:rounded-lg md:rounded-none ">
            <div class="max-w-xl w-full space-y-12">
              <div class="text-center">
                <div class="flex items-center justify-center ">
                    <div class="bg-black flex flex-col w-80 border border-gray-900 rounded-lg px-8 py-10">
                      <h1 class="text-white font-bold text-center">{{title}}</h1>
                  
                  <form method="post" class="flex flex-col space-y-8 mt-10">
                    {% csrf_token %}
                    {% if form.amount.errors %} 
                    {% for error in form.amount.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %} 
                    {% endif %}
                  {% comment %} <label for="amount" class="font-bold text-lg text-white ">Amount</label> 
                  <input name="amount" id="amount" type="number" required placeholder="Amount in BDT" class="border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white"> {% endcomment %}
                  {% for field in form.visible_fields %}
                  <div class="relative mb-4" >
                      <label class="font-bold text-lg text-white " for="{{field.id_for_label}}">
                          {{field.label}}
                      </label>
                      <input class="border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white" name="{{field.name}}" id="{{field.id_for_label}}" type="{{field.widget_type}}">
                  </div>
                  {% endfor %}
                    <button type="submit" class="border border-indigo-600 bg-black text-white rounded-lg py-3 font-semibold">Change Password</button>
                  </form>
                </div>
                </div>
              
            </div>
              
            </div>
{% endblock %}